data/processed/processed_comps_v1.csv
data/processed/processed_comps_v2.csv
data/processed/processed_comps_v3.csv
data/processed/processed_comps_v4.csv
data/processed/processed_properties_v1.csv
data/processed/processed_properties_v2.csv
data/processed/processed_properties_v3.csv
data/processed/processed_properties_v4.csv
data/processed/processed_subjects_v1.csv
data/processed/processed_subjects_v2.csv
data/processed/processed_subjects_v3.csv
data/processed/processed_subjects_v4.csv
*.pyc
data/processed/processed_subjects_v5.csv
data/processed/processed_properties_v5.csv
data/processed/processed_comps_v5.csv
data/.DS_Store
.DS_Store
data/.DS_Store
